<ion-tabs>
  <ion-tab [root]="padarias" tabTitle="Padarias" tabIcon="cafe"></ion-tab>
  <ion-tab [root]="pedidos" tabTitle="Pedidos" tabIcon="logo-usd"></ion-tab>
  <ion-tab [root]="carrinho" tabTitle="Cestinha" tabIcon="basket" tabBadge="5"></ion-tab>
</ion-tabs>
