<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu" item-left></ion-icon></button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="assets/img/pao1.jpg"/>
    <ion-card-content>
        <ion-card-title>
          Padaria do Gordo
        </ion-card-title>
        <p>
          The most popular industrial group ever, and largely
          responsible for bringing the music to a mass audience.
        </p>

        <ion-row>
         <ion-col>
        <div class="tag-wrapper">
          <span>Pão</span>
          <span>Pão</span>
          <span>Pão</span>
          <span>Pão</span>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
         <ion-col>
           <button ion-button icon-left clear small>
             <ion-icon name="thumbs-up"></ion-icon>
             <div>12 Likes</div>
           </button>
         </ion-col>
         <ion-col>
           <button ion-button icon-left clear small>
             <ion-icon name="text"></ion-icon>
             <div>4 Comments</div>
           </button>
         </ion-col>
         <ion-col center text-center>
           <ion-note>
             11h ago
           </ion-note>
         </ion-col>
       </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
